#fset{

    border: 4px solid gray;
    background-color:#97e5f5;
    width:20%;
    border-radius:10px;
  
  }
  q
  {
    color:#243cf3;
    text-align:center;
  background-color:white;
    float:left;
    height:30%;
    width:30%;
    border-radius:5px;
    font-family:Impact, sans-serif;
  }

  
  #photo
  {
    height:60%;
    width:100%;
    border-radius:5px;
  }
  input[type=submit]{
    height:30px;
    width:200px;
    background-color:#28e10b;
  
    margin-left: 300px;
    border-radius: 10px;

    width:120px;
    height:40px;
  }
  input[type=submit]:hover{
    background-color: #f4a569;
  }
  body{
    background-color:#f0908d;
  }
  
  label,input{
    margin-top:10px;
    margin-left:10px;
    margin-bottom:10px;
    height:30px;
    width:250px;
  }